@model MVCapp4Rollator.Models.AboutModel

@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<h3>@Html.DisplayFor(model => model.Title)</h3>

<p> @Html.DisplayFor(model => model.Text)</p>
