@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Campusvej 1<br />
    Odense M, 5230<br />
    <abbr title="Phone">P:</abbr>
    + 45 20 64 88 04
</address>

<address>
    <strong>Technical help:</strong> <a href="mailto:Support@example.com">mikkel.olsen@AbleOn.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:AbleOn@AbleOn.com">AbleOn@AbleOn.com</a>
</address>
