@model MVCapp4Rollator.Models.PictureModel

@{
    ViewData["Title"] = "Gallery";
}
<h2>@ViewData["Title"]</h2>

<h3>@Html.DisplayFor(model => model.Title)</h3>

<img src=@Html.DisplayFor(model => model.URL) >

<p> @Html.DisplayFor(model => model.Text)</p>
