@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-md-3">
        <h1>Secrets test application</h1>
        <b>acessToken:</b> @ViewData["acessToken"]<br />
        <b>deviceID:</b> @ViewData["deviceID"]<br />
    </div>

    <div class="col-md-3">
        <h2>To Do'es: </h2>
        <ul>
            <li>Security levels</li>
            <li>NewsLetters</li>
            <li>Gallery Pics </li>
            <li>Webhook for Photon </li>
            <li>Data visualisation </li>
        </ul>
    </div>
    
    <div class="col-md-3">
        <h2>Usefull sources</h2>
        <ul>
            <li>Test admin profil: </li>
            <li>Bruger: admin@admin.dk</li>
            <li>Password: ETF345ygh.</li>
            <li><a href="https://www.google.com">Google?</a></li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>

</div>
